@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;1,300&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

:root {
    --primary-color: red ;
}

hr {
    margin: 2rem 0rem ;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
} 

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: green;
    color: white;
    border-radius: 0.5rem;
}

.link-secondary {
    background-color: white;
    color: green;
    border-radius: 0.5rem;
    border: 1px solid green;
}

.list-non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 1rem ;
}